<div class="productCart-wrapper">
    <article class="prodctCart" *ngFor="let pizzaBuy of myCart$ | async">
        <div class="product-body">
            <p class="name">{{pizzaBuy.name}}</p>
            <div class="product-body-info">
                <p class="info">{{pizzaBuy.size}}</p>
                <p class="info">{{pizzaBuy.price}}</p>
                <img class="img" [src]="pizzaBuy.picture"/>
            </div>
        </div>
        <div class="productCart-total">
            <p>${{totalProduct(pizzaBuy.price, pizzaBuy.account)}}</p>
            <p>{{pizzaBuy.account}}</p>
        </div>
        <div class="productCart-buttons">
            <div class="productCart-buttons-operators">
                <button (click)="updateUnits('minus', pizzaBuy._id, pizzaBuy.size)"> - </button>
                <span>{{pizzaBuy.account}}</span>
                <button (click)="updateUnits('add', pizzaBuy._id, pizzaBuy.size)"> + </button>
            </div>
            <button (click)="deleteProduct(pizzaBuy._id, pizzaBuy.size)">
                <img src="../../../../assets/images/papelera.png" alt="Icono de Papelera" />
              </button>
            
        </div>
    </article>
    <div class="cartTotal">
       <p class="cartTotal-total">Total: $ {{totalCart()}} </p>
    </div>
    <button class="cart-btn"> Ir a mi cesta </button>
</div>






