<div>
    <h4>Pizzas</h4>
      <div *ngFor="let onePizza of pizza"  style="margin: 140px 0 0 600px; color: aliceblue; font-size: 20px">
          <p>{{ onePizza.name }}</p>
          <img [src]="onePizza.picture" style="width: 200px;"/>
          <select name="size" [id]="onePizza.name">
            <option value="pequena">Pequeña</option>
            <option value="mediana">Mediana</option>
            <option value="familiar">Familiar</option>
          </select> 
          <p *ngFor="let oneIngredient of onePizza.ingredients">
            {{oneIngredient.name}}
          </p>
      </div>
  </div>
