<header class="header">
  <a  [routerLink]="['home']">
    <img class="logo" src="../../../../assets/images/logo.png" />
  </a>

  <button class="navbar-toggle" (click)="toggleMenu()">
    <i class="fas fa-bars">☰</i>
  </button>

  <nav class="navbar" [ngClass]="{'show': showMenu}">
    <a href="#home" [routerLink]="['home']">Home</a>
    <a href="#pizzaCart" [routerLink]="['pizzaCart']">PizzaCart</a>
    <a href="#menu">Mi pizza</a>
    <a *ngIf="!isLogged" [routerLink]="['login']" class="user">
      <img src="../../../../assets/images/usuario.png"/>
    </a>
    <a *ngIf="isLogged" [routerLink]="['cart']">
      <img href="#" class="shop" src="../../../../assets/images/carrito-de-compras.png" />
    </a>
    <a *ngIf="isLogged"
       class="user" (click)="cerrarSesion()"> <img src="../../../../assets/images/cerrar-sesion.png"/></a>
  </nav>
</header>

