<div class="menu">
  <div class="container">
        <h2 class="menu_h2">Menú</h2>
  </div>
</div>

<section class="List">
  <div class="container">
    <div class="list_pizzas">
        <div class="pizza" *ngFor="let onePizza of pizza | pagination:pagina ">
          <div class="prueba">
          <img class="pizza_img" [src]="onePizza.picture"/>
          <select class="select" name="size" [id]="onePizza.name">
            <option value="pequena">Pequeña</option>
            <option value="mediana">Mediana</option>
            <option value="familiar">Familiar</option>
          </select> 
            <div class="pizza_name">
              <h3 class="cheese-pizza__title">{{ onePizza.name }}</h3>
            </div>
            <div class="div_ingredient">
              <p class="pizza_ingredient" *ngFor="let oneIngredient of onePizza.ingredients">
                {{oneIngredient.name}}
              </p>
            </div>
            <div class="pizza_button">
              <button class="button" (click)="addToCart(onePizza)">
                Añadir
              </button>
            </div>
            
          </div>
      </div>
    </div>

    <div>Hay {{ cantidadPizzas }} pizzas en el carrito.</div>
    
    <div class="pagination-container">
      <div class="pagination-button">
        <img src="../../../assets/images/previous.png" alt="Previous" [ngStyle]="pagina <= 0 ? {'display': 'none'} : null" (click)="prevPage()" class="btn-img">
        <img src="../../../assets/images/next.png"alt="Next" [ngStyle]="pagina >= 80 ? {'display': 'none'} : null" (click)="nextPage()" class="btn-img">
      </div>
    </div>
  </div>
</section>
