<div>
  <h4>Pizzas</h4>
    <div *ngFor="let onePizza of pizza"  style="margin: 140px 0 0 600px; color: aliceblue; font-size: 20px">        
      <p>{{ onePizza.name }}</p>        
        <img [src]="onePizza.picture" style="width: 50px;"/>
        <form  
            *ngIf="pizzaForm"           
            [formGroup]="pizzaForm"
            name="miPizza">          
            <select formControlName="size">   
              <option *ngFor="let s of sizeOptions" value="{{s}}">{{s | titlecase}}</option>     
            </select>
          
        <p *ngFor="let oneIngredient of onePizza.ingredients">
          {{oneIngredient.name}}
        </p>
      
        <div class="product-button">
            <button class="product-button-cart" (click)="addToCart(onePizza)">
              Añadir
            </button>
        </div>
      </form>   
    </div>
</div>