<div class="menu">
  <div class="container">
        <h2 class="menu_h2">Menú</h2>
  </div>
</div>

<section class="List">
  <div class="container">
      <div class="menu_title">
        <img>
      </div>
    <div class="list_pizzas">
        <div class="pizza" *ngFor="let onePizza of pizza">
          <div class="prueba">
          <img class="pizza_img" [src]="onePizza.picture"/>
          <select class="select" name="size" [id]="onePizza.name">
            <option value="pequena">Pequeña</option>
            <option value="mediana">Mediana</option>
            <option value="familiar">Familiar</option>
          </select> 
            <div class="pizza_name">
              <h3 class="cheese-pizza__title">{{ onePizza.name }}</h3>
            </div>
            <div class="div_ingredient">
              <p class="pizza_ingredient" *ngFor="let oneIngredient of onePizza.ingredients">
                {{oneIngredient.name}}
              </p>
            </div>
            <div class="pizza_button">
              <button class="button" (click)="addToCart(onePizza)">
                Añadir
              </button>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>



<!---<div class="menu__section">
    <h4  class="menu__title">Pizzas</h4>
    <div class="menu__options">
      <div class="cheese-pizza" *ngFor="let onePizza of pizza">
          <p class="cheese-pizza__title">{{ onePizza.name }}</p>
          <img class="cheese-pizza__img" [src]="onePizza.picture" style="width: 50px;"/>
          <select name="size" [id]="onePizza.name">
            <option value="pequena">Pequeña</option>
            <option value="mediana">Mediana</option>
            <option value="familiar">Familiar</option>
          </select> 
          <p class="cheese-pizza__description" *ngFor="let oneIngredient of onePizza.ingredients">
            {{oneIngredient.name}}
          </p>
          <div class="product-button">
              <button class="chesse-pizza__button" (click)="addToCart(onePizza)">
                Añadir
              </button>
          </div>
      </div>
    </div>
  </div> ---> 

