<div class="productCart-wrapper">
    <article class="prodctCart" *ngFor="let pizzaBuy of myCart$ |async">
        <div class="product-body">
            <p>{{pizzaBuy.name}}</p>
            <div class="product-body-info">
                <p>{{pizzaBuy.size}}</p>
                <p>{{pizzaBuy.price}}</p>
                <img [src]="pizzaBuy.picture" style="width: 50px;"/>
            </div>
        </div>
        <div class="productCart-total">
            <p>${{totalProduct(pizzaBuy.price, pizzaBuy.account)}}</p>
        </div>
        <div class="productCart-buttons">
            <div class="productCart-buttons-operators">
                <button (click)="updateUnits('minus', pizzaBuy._id)"> - </button>
                <button (click)="updateUnits('add', pizzaBuy._id)"> + </button>
            </div>
            <button (click)="deleteProduct(pizzaBuy._id)" > Icono de Papelera</button>
        </div>
    </article>
    <div class="cartTotal">
       <p class="cartTotal-total">Total: $ {{totalCart()}} </p>
    </div>
    <button class="cart-btn"> Ir a mi cesta </button>
</div>
