<button class="buttonForm" (click)="setRecoger()" (click)="showForm = true">Domicilio</button>
<button class="buttonForm" (click)="setDomicilio()" (click)="showForm = true">Recoger</button>

<div class="contenidoFormulario" *ngIf="showForm">
    <form
    *ngIf="orderForm"
    (submit)="createCustomerOrder()"
    [formGroup]="orderForm"
    >
  
    <div class="inputForm">
        <label for="name">Nombre:</label>
        <input id="name" type="text" formControlName="name" required>
    </div>
    
    <div class="inputForm">
        <label for="surname">Apellido:</label>
        <input id="surname" type="text" formControlName="surname" required>
    </div>
    
    <div class="inputForm">
        <label for="email">Email:</label>
        <input id="email" type="email" formControlName="email" required>
    </div>
    
    <div class="inputForm">
        <label for="phoneNumber">Numero de Telefono:</label>
        <input id="phoneNumber" type="tel" formControlName="phoneNumber" pattern="^\d{10}$" required>
    </div>
    
    <div class="inputForm" *ngIf="pickup">
        <label for="shippingAddress">Indicanos tu direccion</label>
        <input id="shippingAddress" type="text" formControlName="shippingAddress" required>
        
    </div>
    
    <div class="inputForm" *ngIf="delivery">
        <label for="store">Store:</label>
        <select id="store" formControlName="store">
            <option value="" disabled selected>Selecciona la tienda para recoger</option>
            <option value="store1">Store 1</option>
            <option value="store2">Store 2</option>
            <option value="store3">Store 3</option>
        </select>
    </div>
    
    
    <button class="buttonForm" type="submit">Compra</button>
     
</form>
</div>